@reference "tailwindcss";
@import "tailwindcss/preflight"; /* replaces @tailwind base */
@import "tailwindcss/utilities"; /* replaces both components & utilities */

/* @layer utilities {
  .nav__link {
    @apply relative text-base font-medium w-fit block after:content-[''] after:absolute after:h-[3px] after:bg-pink-600 after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition after:duration-300 after:origin-right;
  }
} */
@layer utilities {
  .nav__link {
    @apply relative text-base font-medium w-fit block 
           after:content-[''] after:absolute after:left-0 after:bottom-0
           after:h-[3px] after:bg-pink-600 after:w-full 
           after:scale-x-0 hover:after:scale-x-100 
           after:transition-transform after:duration-300 
           after:origin-right;
  }
}
